.header {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.body {
    display: flex;
}


.content {
    display: flex;
}

.sidebar {
    margin-top: 10px;
    margin-right: 10px;
    min-width: 270px;
    max-width: 270px;
    /* background-color: gray; */
}


@media only screen and (max-width:992px) {

    .sidebar {
        display: none;
    }
}


.filterContainer {
    margin-top: 25px;
}
