.bodyBackground {
    background-image: url(assets/images/back.jpg);
    background-color: #F4F4F4;
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    min-height: 1220px;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    width:1200px;
    margin:0 auto;
    background-color: #ffff;
    border: 1px solid #ffff;
    font-family: 'Roboto', sans-serif;
    
}


