.bodyBackground {
    background-image: url(assets/images/back.jpg);
    background-color: #F4F4F4;
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    position: relative;
    min-height: 1200px;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    width:60%;
    margin:0 auto;
    background-color: #ffff;
    border: 1px solid #ffff;
    
}


