.Panel {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
        90deg, 
        rgb(184, 174, 174) 2%, 
        rgba(220, 220, 223, 0.461) 2%,
        rgb(220, 215, 215, 0.969) 2%, 
        rgba(220, 215, 215, 0.969) 78%
    );
}

.PanelWithLink {
    cursor: pointer;
    color: #176093
}

.PanelWithLink:hover {
    color:rgb(248, 89, 21);
}