.filterCheckBoxes {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;

}


.filterHeader {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(
        90deg, 
        rgb(184, 174, 174) 2%, 
        rgba(220, 220, 223, 0.461) 2%,
        rgb(220, 215, 215, 0.969) 2%, 
        rgba(220, 215, 215, 0.969) 78%
    );
}